.banner-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: relative;
}
.slide-sub-title{
    position: absolute;
    padding-top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}

.btndesign{

    padding: 10px 40px;
    margin-top: 60px !important;
    text-align: center;
    background-color: #cd2e2e;
    border: 1px solid #cd2e2e;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.btndesign >a{
  color: #FFFFFF;
  text-decoration: none;
}
.btndesign > a:hover{
  color: #FFFFFF;
  text-decoration: none;
}


.nav {
  height: 50px;
  width: 100%;
  position: relative;
  text-align: center;
}


.nav-title {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: inline;
  text-transform: uppercase;
  float: right !important;
  font-size: 15px;
  cursor: pointer;
  margin-left: auto;


}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

hr{
  border: 1px solid #aaa5a5;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.nav > #nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .banner-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
  }

.slider-title{

  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btndesign{

    padding: 8px 30px;
    margin-top: 30px !important;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;

}


  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 30%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 54px;
    left: 330px;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

.about{
  padding-top: 20px;
}

}

.card-image{
  padding-right: 2px !important;
  padding-left: 2px !important;

}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
height: 300px;
  transition: filter 0.3s ease-out;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h3,
.overlay p {
  color: #fff;
  border-radius: 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  display: block;

}

.image-container:hover img {
  filter: blur(5px);
}

.image-container:hover .overlay {
  display: flex;
  flex-direction: column;
}

.icon> a{
  color: #b2abab !important;
  font-size: 25px;
  text-decoration: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}


/* carousel */
#myCarousel {
	width: 100%;
	margin: 0 auto;
}
.carousel-item {
	height: 100%;
}
.carousel-item > div {
	height: 100%;
	display: flex;
	align-items: center;
}
.carousel-item img {
	height: 100%;
	width: 100%;
  object-fit: cover;
}

.carousel-img{
  background-color: #333;
}
.carousel-indicators {
  margin-left: 50% !important;
  padding-bottom: 5% !important;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;

}


.carousel-text{
  color: #ffffff;
  background-color: #533448;
  text-align: left;
  margin-bottom: 0px;
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 20%;
  padding-bottom: 0px;
}

.carousel-text>h4{
  font-style: italic;
}

.footer1{
  background-color: #3a3e64;
  color: #ffffff;
  padding-top: 3%;
  padding-bottom:4%;
  padding-left: 5%;
  padding-right: 5%;
}
.footericon>a{
    color: #ffffff !important;
    font-size: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: 3px solid #ffffff !important;
    text-decoration: none;
  }
  .footer2{
    background-color: #313454;
    color: #b7b6b6;
  }
  .footer2> p > b{
    color: #ffffff !important;
  }
  .footer2> p > i{
    color: #ff0606 !important;
  }
